.barra {
    list-style-type: none; 
    text-align: center;
    background-color: #0e536e;
}
li {
    display: inline;
}
header {
    background-color: #dbc926b0;
}
main {
    background-color: #babae4;
}
section {
    background-color: #11d4e2;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}
h1 {
    background-color: #030303;
    color: white;
    padding: 20px;
}
h2 {
    color: #2c3e50;
    margin: 20px 0;
    padding: 10px;
}
p {
    color: #34495e;
    font-size: 16px;
    margin: 10px 20px;
}
img {
    display: block;
    margin: 20px auto;
    height: auto;
    border-radius: 177px;
}
a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
hr {
    border: groove;
    height: 5px;
    background-color: #dd0e0e;
    margin: 30px 0;
}
.footer {
    padding: 20px;
    background-color: #2c3e50;
    color: white;
    margin-top: 40px;
}
.grid-container {
    display: grid;
    grid-auto-columns: 50em;
}
.grid-item {
    border: 1px solid #030303;
    padding: 20px;
    text-align: center;
}